.contenedorProductos {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.principal {
    display: flex;
    width: 18rem;
}

.foto {
    justify-content: center;
}